body{
  background-image: linear-gradient(to bottom, red, black)
}

h1 {
  color: black; 
  text-decoration:underline;
}

p {
  color: green;
  font-weight:bold;
}

#section1 {
  color: purple;
}

#section2 {
  color: purple;
}

h2 {
  color: blue;
  font-family:Arial;
}

.orange {
  color: orange;
}

